
.switch {
  background: #f00;
  border: none;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  background-color: lightgrey;
  border-color: black;
}

small {
  background: green;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}

.switch-large {
  width: 66px;
  height: 40px;
  border-radius: 40px;
}

.switch-large small {

  width: 40px;
  height: 40px;
}

.switch-medium {
  background-color: silver;
  width: 40px;
  height: 20px;
  border-radius: 20px;
}

.switch-medium small {
  top: 2px;
  left: 2px;
  width: 17px;
  height: 16px;
}

.switch-small {
  width: 33px;
  height: 20px;
  border-radius: 20px;
}

.switch-small small {
  width: 20px;
  height: 20px;
}

.checked {
  background: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
}

.switch-large.checked small {
  left: 26px;
}

.switch-medium.checked small {
  left: 20px;
}

.switch-small.checked small {
  left: 13px;
}

.disabled {
  opacity: .50;
  cursor: not-allowed;
}

.switch .switch-medium {
  background-color: silver;
}