mat-card {
  width: 50%;
  display: block;
  margin: 15% auto;
  background-color: white;
}
.total-sum {
  float: right;
  margin: 10px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.name, .position, .price {
  line-height: 45px;
  margin: 0 20px;
  float: left;
}
.background {
  background-color: ghostwhite
}
.remove{
  cursor: pointer;
}

.remove:hover {
  font-weight: bold;
}