<div>
  <mat-card class="card" [ngClass]="{background:isOdd}"
    *ngFor="let product of products; index as position">
    <mat-card-header>
      <div class="position">{{position+1}}</div>
      <img class="avatar" [src]="product?.picture"/>
      <div class="name">{{product.title}}</div>
      <div class="remove" (click)="remove({product:product, action:'remove'})">
        x
      </div>
    </mat-card-header>
  </mat-card>
  <button mat-button class="buy_button" [routerLink]="['order']">Make order</button>

  <div class="total-sum">
    {{getTotalSum(products)}}
  </div>
</div>
